.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.vision h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #333;
}