.container_thewhy{
    /* background: url(../../../../assets/abedibg.png) center; */
    background-color: rgb(192, 90, 72);
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    height: 400px;
    overflow: hidden;
}
.show_case{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 400px;

}
.show_case img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.theWhy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    width: 80%;
    margin: auto;
    z-index: +1;
}